$color-fg-default: #e9f1f9;
$color-fg-muted: #c3ced5;
$color-bg-default: #060910;
$color-bg-muted: #1d2436;
$color-border-default: #406070;
$color-accent-fg: #86acff;
$color-accent-bg: #22345e;

$color-btn-bg: #1f3741;
$color-btn-border: #25424d;

$color-error-fg: #f85149;

$color-thead-bg: #293044;
