.table {
  border-spacing: 0;
  border: 1px solid $color-border-default;
  width: 100%;
  background-color: $color-bg-muted;

  &__header {
    color: $color-fg-muted;
    background-color: $color-thead-bg;
    border-bottom: 1px solid $color-border-default;
    text-align: left;
  }

  &__column {
    &--primary {
      width: 40%;
    }

    &--small {
      width: 0;
      white-space: nowrap;
    }
  }

  td, th {
    padding: 4px 8px;
  }

  &__row {
    &:hover {
      background-color: $color-accent-bg;
    }
  }
}
